/* Cascading stylesheet for the Debian Release Notes */

/* global style of the page */
body {
    background-color: #EEEEEE;
    border: 40px solid #EEEEEE;
    margin: 0;
    padding: 0 10px;
    font-family: "liberation sans", "Myriad ", "Bitstream Vera Sans", "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
    line-height: 1.2em;
}

@media (max-width: 5in), (max-device-width: 5in){
    body {
        border: 0px;
        padding: 0px;
    }
}

body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part {
    margin-top: 0;
    padding: 2em 6em 6em;
}
body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part {
    padding: 2em;
}

body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index {
    background-color: #FFFFFF;
    margin: 40px auto 4em;
    padding: 1px 40px 20px 30px;
}

@media (max-width: 1024px) {
    body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index {
        max-width: 45em;
    }
}
@media (min-width: 1025px) {
    body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index {
        max-width: 70em;
    }
}
@media (max-width: 5in), (max-device-width: 5in){
    body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index {
        max-width: 100%;
    }
}

hr {
    border-top: 1px dotted #808080;
    margin: 0;
}

a:link {
    color: #0035C7;
    text-decoration: none;
}
a:visited {
    color: #00207A;
    text-decoration: none;
}
a:link:hover {
    color: #00207A;
    text-decoration: underline;
}

code {
    font-family: "liberation mono","bitstream vera mono","dejavu mono",monospace;
    font-weight: bold;
    word-wrap: break-word;
}

h1 {
    color: #C70036;
    line-height: 1.1em;
}

h2, h3, h4, h5, h6 {
    color: #C70036;
}

@media (max-width: 5in), (max-device-width: 5in){
    dl, dt, dd {
        margin-left: 0.25em;
    }

    ul, ol {
        padding-left: 1.5em;
    }
}


/* for first page */
.book > .titlepage h1.title {
    text-align: center;
}
.titlepage h1.title {
    text-align: left;
}

.authorgroup div {
    text-align: center;
}


/* for table of contents */
@media (max-width: 5in), (max-device-width: 5in){
    .toc dl, .toc dt, .toc dd {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}


/* table in content */

.informaltable table {
    border-collapse: collapse;
}

.informaltable table th {
    background-color: #C70036;
    border: 1px solid black;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.informaltable table td {
    border: 1px solid black;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.informaltable table th:hover {
    color: white;
}

.informaltable tbody tr:nth-child(even) {
    background-color:#DDDDDD;
}

.informaltable tbody tr:hover {
    background-color:#666666;
    color: #FFFFFF;
}


/* Terminal examples */
pre.screen {
    background-color: #F5F5F5;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    color: #000000;
    display: block;
    font-family: "liberation mono","bitstream vera mono","dejavu mono",monospace;
    font-size: 0.9em;
    margin-bottom: 1em;
    padding: 0.5em 0.5em 0 0.5em;
    page-break-inside: avoid;
    white-space: pre-wrap;
    word-wrap: break-word;
}


/* Navigation elements */
.navheader a, .navfooter a {
    opacity: 0.50;
    transition: opacity 0.15s ease-in-out;
}
.navheader a:hover, .navfooter a:hover {
    opacity: 1;
}

@media (max-width: 5in), (max-device-width: 5in){
    .navfooter > table {
        font-size: 0;
    }
}


/* Infos blocks */
.important {
    border: 1px dashed red;
}
.caution {
    border: 1px dashed #EFF500;
}
.note {
    border: 1px dashed blue;
}

.important, .caution, .note {
    margin-left: 1em;
    margin-right: 1em;
}

@media (max-width: 5in), (max-device-width: 5in){
    .important, .caution, .note {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
